<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
    </style>
    <title>Globo Esporte</title>
</head>
<body>
    <%- include("partials/navbar")%> 
        <div class="article">
            <div class="article-head">
                <h1><%= article.title  %></h1>
                <h2><%= article.synthesis  %></h2>
                <br>
                <p>
                    Em <%= article.category.title  %>
                </p>
                <p>
                    Por <%= article.author.name  %> 
                </p>
                <hr>
            </div>
            <img src="/<%= article.photo  %> ">
            <hr>
            <%- article.body  %>
        </div>  
        <%- include("partials/footer")%>
</body>
<script src="/script.js"></script>
</html>